<div class="login-container">
  <mat-card class="login-card">

    <div class="login-header">
      <mat-card-header>
        <mat-card-title>Entrar</mat-card-title>
        <mat-card-subtitle>Acesse sua conta CCOMP</mat-card-subtitle>
      </mat-card-header>
    </div>

    <mat-card-content>
      <app-login-form (login)="onLogin($event)"></app-login-form>
    </mat-card-content>
    
    <mat-card-actions>
      <button (click)="navigateToRegister()" class="register-link" mat-button>
        Não tem uma conta? Cadastre-se
      </button>
    </mat-card-actions>

  </mat-card>
</div>
