<header class="header">
  <div class="header-container">

    <a routerLink="/" class="logo">
      <img src="/logo.svg" alt="Logo ccomp"/> ccomp</a>

    <nav class="nav">
      <a routerLink="/">Eventos</a>
      <a routerLink="/">Notícias</a>
      <a routerLink="/">O curso</a>
      <a routerLink="/">Projetos</a>
      <a routerLink="/">Clubes</a>
      <a routerLink="/" class="nav-projetos">Meus projetos</a>
    </nav>
    <div class="header-actions">
      <div class="search-box">
        <input type="text" placeholder="buscar na plataforma...">
        <button class="btn-busca">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>

      <a class="btn-entrar">Entrar</a>
    </div>
  </div>
</header>
