<section class="news-page-section">
  <div class="news-page-layout">

    <div class="news-main">
      <app-news-hero [news]="noticiaDestaque"></app-news-hero>
      
      <div class="news-list-header">
        <h2 class="news-list-title">Mais Notícias</h2>
      </div>
      
      <div class="news-grid">
        @for (noticia of noticiasLista; track noticia.id) {
          <app-news-card [news]="noticia"></app-news-card>
        }
      </div>
      
    </div>
    
    <app-news-sidebar></app-news-sidebar>
    
  </div>
</section>
