<section class="promo-event-section">
  <div class="section-header">
    <span class="linha-verde"></span>
    <h3>Evento em Destaque</h3>
  </div>

  <div class="promo-banner-card">
    <div class="promo-content">
      <div class="badge-group">
        <span class="badge status-open">INSC. ABERTAS</span>
        <span class="badge">PRESENCIAL</span>
      </div>
      <h2 class="promo-title">Hackathon IFMA 2026: Green Solutions</h2>
      <p class="promo-description">
        O maior evento de programação do IFMA, focado em sustentabilidade e algoritmos verdes. Traga
        sua mente criativa para encontrar soluções inovadoras.
      </p>

      <div class="promo-details-grid">
        <div class="detail-item">
          <span class="label">DATA</span>
          <span class="value">10-12 Out</span>
        </div>
        <div class="detail-item">
          <span class="label">VAGAS</span>
          <span class="value">40 Equipes</span>
        </div>
        <div class="detail-item">
          <span class="label">LOCAL</span>
          <span class="value">Auditório II</span>
        </div>
        <div class="detail-item">
          <span class="label">STATUS</span>
          <span class="value">Disponível</span>
        </div>
      </div>

      <button class="btn-cta">Inscrever-se agora</button>
    </div>
    <div class="promo-image">
      <img src="public/img2.png" alt="Ilustração Hackathon">
    </div>
  </div>
</section>
