  <div class="hero">
    <div class="hero-content">
      <h1>Bem-vindo ao Bacharelado em Ciência da Computação</h1>
      <p>Inovação, tecnologia e excelência acadêmica no IFMA Campus Caxias.</p>
      <div class="hero-btns">
        <button class="btn-primary">Conheça o Curso</button>
        <button class="btn-secondary">Ver Editais</button>
      </div>
    </div>
    <div class="hero-carousel">
      <div class="carousel-card">
        <div class="carousel-item">
          <span class="badge-novo">Atualizações Recentes</span>
          <h3> Edital Monitoria 2026.1</h3>
          <p>Inscrições abertas para monitoria das disciplinas tchurusbango e tchurusbago.</p>
          <button class="btn-text" style="color: white;">Ler mais</button>
        </div>
        <div class="carousel-indicators">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
  </div>
